%form{:action => '/additional', :method => 'post'}
  %label 
    ID
    %input{:name => 'ID'}
  %label
    TimesDied
    %input{:name => 'TimesDied'}
  %label
    PlayTime
    %input{:name => 'PlayTime'}
  %label
    Completed
    %input{:name => 'Completed'}
  %label
    %input{:type => 'submit'}
