%form{:action => '/startup', :method => 'post'}
  %label 
    ID
    %input{:name => 'ID'}
  %label
    PlayerName
    %input{:name => 'PlayerName'}
  %label
    PlayerAge
    %input{:name => 'PlayerAge'}
  %label
    PostCode
    %input{:name => 'PostCode'}
  %label
    PlayerGender
    %input{:name => 'PlayerGender'}
  %label
    PreviousOHSTraining
    %input{:name => 'PreviousOHSTraining'}
  %label
    PlaysComputerGames
    %input{:name => 'PlaysComputerGames'}
  %label
    %input{:type => 'submit'}
