%form{:action => '/survey', :method => 'post'}
  %label 
    ID
    %input{:name => 'ID'}
  %label
    Q1
    %input{:name => 'Q1'}
  %label
    Q2
    %input{:name => 'Q2'}
  %label
    Q3
    %input{:name => 'Q3'}
  %label
    Q4
    %input{:name => 'Q4'}
  %label
    Q5
    %input{:name => 'Q5'}
  %label
    Q6
    %input{:name => 'Q6'}
  %label
    Q7
    %input{:name => 'Q7'}
  %label
    Q8
    %input{:name => 'Q8'}
  %label
    Q9
    %input{:name => 'Q9'}
  %label
    Q10
    %input{:name => 'Q10'}
  %label
    Q11
    %input{:name => 'Q11'}
  %label
    Q12
    %input{:name => 'Q12'}
  %label
    %input{:type => 'submit'}
